vault/NDB-Career/.obsidian/workspace.json 
vault/NDB-Career/.obsidian/plugins/dataview/main.js 
vault/NDB-Career/.obsidian/plugins/templater-obsidian/main.js 
vault/NDB-Career/.obsidian/plugins/obsidian-zotero-desktop-connector/main.js 
vault/NDB-Career/.obsidian/plugins/obsidian-zotero-desktop-connector/pdfannots2json.exe 
